body {
	background-color: #E8EFFA;    
    color: #333333;
    font-family: "century gothic", serif;
    font-size: 14pt;
	margin: 0px;
	padding: 0px;
}

body img {
    border: none;
}

.clear {
	clear: both;
}

.centerIt {
	text-align: center;
}

a:active {
    border: none;
    text-decoration: none; 
	color: #1B1464;
}

a:visited {
    border: none;
    text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0px;
	padding: 25px;
}

#headerContent {
    background-image: url("../images/topBannerPlain.png");
    background-repeat: no-repeat;
	background-position: center;
	background-color: #1B1464;
    text-align: center; /*for ie*/ 
    text-align: left;
	padding: 0px;
	margin: 0px;
	height: 133px;
	border-bottom: 1px solid #ADE0F2;
    /*border-bottom: 2px dashed #666666;
		-webkit-border-top-right-radius: 15px;
		-webkit-border-top-left-radius: 15px;
		-moz-border-radius-topright: 15px;
		-moz-border-radius-topleft: 15px;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;*/
}

#headerGuts {
	width: 830px;
	margin: auto;
	height: 133px;
	text-align: center; /*for ie*/
}

h2 {
    color: #3D6CC1;    
    font-size: 14pt;
    padding: 0px;
    margin: 0px;
}

#fullForm h2 {
    text-align: left; 
    margin-left: 60px;   
    padding-bottom: 10px;    
}

#signIn {
	float: right;
    text-align: left;    
    font-size: 10pt;
}

#signIn p {
    margin: 0px;    

}

input, textarea {
    padding: .5em;
    margin: 1px;    
}

label {
    vertical-align: top;    
}

.submitButton {
    background-image: url('../images/submitButtonBlue.png'); 
    background-repeat: no-repeat;    
    border: none;
    padding: 0px 3px 5px 3px;
    color: white;
    font-family: inherit;
    cursor: pointer;
    width: 65px;
    font-weight: bold;
}

#submitBig {
    margin: 5px;
    padding: 5px 50px 10px 50px;
    background-image: url('../images/submitButtonBlueBig.png');
    font-size: 1.0em;
}

#giantButtons img{
    margin: 20px;
    padding: 3px;
}

form div{
    font-weight: normal;
    text-align: left; 
    width: 450px; 
    margin: auto;
    font-size: 12pt;    
}

#session_submit {

}

#content {
    background-image: url("../images/blueGrad.png");
    background-repeat: repeat-x;
	background-position: center top;
    background-color: white;
    padding: 0px;
	margin: 0px;
	min-height: 350px;
}

#contentGuts {
	width: 850px;
	background-image: url("../images/contentBackground.png");
	background-repeat: repeat-y;
  margin: 0px auto 0px auto;
  text-align: center; /*for ie*/
  padding: 0px;
	min-height: 400px;
}

#content p#intro {
    padding: 5px 190px 0px 190px; 
	margin: 0px;    

}

#featured {
    padding: 100px 10px 40px 10px;
    text-align: left;    
}

#featuredTable {
    font-size: 10pt; 
    font-weight: normal;
    border-top: 2px dashed #666666;    
}

#featuredTable td {
    padding: 10px;    
}

#signUpForm {
	width: 450px;
	margin: auto;
	padding-bottom: 5em;
	text-align: right;
}

#signUpTable td{
	margin: 0px;
	padding: 5px;
}

#footer {
	margin: 0px auto 0px auto;
	padding: 5px 0px 0px 0px;
	background-color: #E8EFFA;
	color: #666666;
	font-size: 10pt;
	text-align: center;
	font-weight: normal;
	border-top: 1px solid #ADE0F2; 
}

#footer a {
	color: #666666;
}

#footer a:hover {
	text-decoration: underline;
}

.flash {
	width: 820px;
	background: #E6E6E6;
	margin: auto;
}

/*--- 2nd addition ---*/
.aboutUs {
	font-size: 16px;
	width: 70%;
	margin: auto;
	text-align: justify;
	font-weight: normal;
}

p a#inlineText {
	color: #3D6CC1;
	text-decoration: none;
}

p a#inlineText:hover {
	text-decoration: underline;
}

h3 {
	text-align: left;
	margin: 0px;
}

.headerBar {
	background-image: url('../images/gradient.png');
	background-repeat: repeat-x;
	padding: 5px;
}

.tiles {
	width: 300px;
	padding: 5px;
	margin: 10px;
	font-size: 18px;
	text-align: left;
	font-weight: normal;
	float: left;
}

.insideDiv {
	width: 675px;
	margin: 20px auto 20px auto;
	height: 100%;
	border-top: none;
	height: 400px;
}

span.smallButton {
	background-image: url('../images/smallerButton.png');
	background-repeat: no-repeat;
	padding: 5px 30px 10px 15px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

span#smallerButton {
	background-image: url('../images/skinnyButton.png');
	background-repeat: no-repeat;
	
}

table.eventDisplay  {
    padding-top: 50px; 
    text-align: left; 
	clear: both;
	width: 500px;
}

table.eventDisplay {
    font-size: 12pt; 
    font-weight: normal;
		
}

table.eventDisplay td {
    padding: 5px 5px 0px 0px;  
	vertical-align: top;
}

table#allOppTable {
	width: 100%;
}

table#allOppTable tr:hover {
	background-color: white;
	cursor: pointer;
}