body {
    background-color: #333333;
    background-image: url('../images/smallOval.png');
    background-repeat: repeat;    
    color: #333333;
    font-family: "Calibri", "century gothic", serif;
    font-size: 14pt;
    font-weight: bold;
}

.clear {
	clear: both;
}

a:active {
    border: none;
    text-decoration: none;    
}

a:visited {
    border: none;
    text-decoration: none;    
}

#headerContent {
    width: 800px;
    margin: auto;
		margin-top: 15px;
    text-align: center; /*for ie*/    
    background-color: white;  
    padding: 5px 10px 0px 10px;
    text-align: left;
    /*border-bottom: 2px dashed #666666;*/
		-webkit-border-top-right-radius: 15px;
		-webkit-border-top-left-radius: 15px;
		-moz-border-radius-topright: 15px;
		-moz-border-radius-topleft: 15px;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
}

#menu {
	float: right;
}

#menu span {
    background-image: url('../images/menuGray.png');
    background-repeat: no-repeat;
    color: white;
    font-size: 12pt; 
    text-align: center; 
    vertical-align: text-top;
    cursor: pointer;    
}

#menu span#menuNew{
    padding: 10px 8px 10px 8px;
}

#menu span#menuSched{
    padding: 10px 18px 10px 20px;
}

#menu span#menuOrg{
    padding: 10px 5px 10px 8px;
}

#menu span#menuAbout{
    padding: 10px 28px 10px 30px;
}


h2 {
    color: #3D6CC1;    
    font-size: 14pt;
    padding: 0px;
    margin: 0px;
}

#fullForm h2 {
    text-align: left; 
    margin-left: 60px;   
    padding-bottom: 10px;    
}

#signIn {
		float: right;
    text-align: left;    
    font-size: 10pt;
}

#signIn p {
    margin: 0px;    

}

input, textarea {
    padding: .5em;
    margin: 1px;    
}

label {
    vertical-align: top;    
}

table {
    font-family: inherit;
    border-collapse: collapse;
    font-size: 9pt;    
}

table td {
    padding: 0px;    

}

.submitButton {
    background-image: url('../images/submitButtonBlue.png'); 
    background-repeat: no-repeat;    
    border: none;
    padding: 0px 3px 5px 3px;
    color: white;
    font-family: inherit;
    cursor: pointer;
    width: 65px;
    font-weight: bold;
}

#submitBig {
    margin: 5px;
    padding: 5px 50px 10px 50px;
    background-image: url('../images/submitButtonBlueBig.png');
    font-size: 1.0em;
}

body img {
    border: none;
}

#giantButtons img{
    margin: 20px;
    padding: 3px;
}

form div{
    font-weight: normal;
    text-align: right; 
    width: 450px; 
    margin: 2px auto 4px 50px;
    font-size: 12pt;    
}



/*#giantButtons img:hover{
    border: 3px dashed #666666;
    padding: 0px;
}*/

/*span#buttonFind {
    background-image: url('../images/bigButtons1.png');
    background-repeat: no-repeat;
    height: 250px;
    width: 98px;    
}
*/
#content {
    width: 820px;
    margin: auto;
    text-align: center; /*for ie*/    
    background-color: #E6E6E6;
    opacity: .9;
    padding: 5px;
    height: auto;
   /* border-left: 5px solid #666666;
    border-right: 5px solid #666666;*/
}

#content p#intro {
    padding: 5px 200px 5px 200px;    

}

#featured {
    padding: 100px 10px 40px 10px;
    text-align: left;    
}

#featuredTable {
    font-size: 10pt; 
    font-weight: normal;
    border-top: 2px dashed #666666;    
}

#featuredTable td {
    padding: 10px;    
}

#footer {
    background: #666666 ;
    width: 820px;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0px;
		-webkit-border-bottom-right-radius: 15px;
		-webkit-border-bottom-left-radius: 15px;
		-moz-border-radius-bottomright: 15px;
		-moz-border-radius-bottomleft: 15px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;    
}

#footerCurve {
	background-image: url('../images/bottomCurve.png'); 
	background-repeat: no-repeat;
	height: 20px;
	width: 820px;
	margin: auto;
	padding: 0px;
}

#headerCurve {
    background-image: url('../images/topCurve.png');
    width: 820px;
    height: 10px;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0px;  
}

#logo {
    height: 100px;
}

.flash {
	width: 820px;
	background: #E6E6E6;
	margin: auto;
}

/*--- 2nd addition ---*/
.aboutUs {
	font-size: 18px;
	width: 70%;
	margin: auto;
	text-align: justify;
	font-weight: normal;
}

p a#inlineText {
	color: #3D6CC1;
	text-decoration: none;
}

p a#inlineText:hover {
	text-decoration: underline;
}

h3 {
	text-align: left;
	margin: 0px;
}

.headerBar {
	background-image: url('images/gradient.png');
	background-repeat: repeat-x;
	padding: 5px;
}

.tiles {
	width: 300px;
	padding: 5px;
	margin: 10px;
	font-size: 18px;
	text-align: left;
	font-weight: normal;
	float: left;
}

.insideDiv {
	width: 675px;
	margin: 20px auto 20px auto;
	height: 100%;
	border-top: none;
	height: 400px;
}

span.smallButton {
	background-image: url('images/smallerButton.png');
	background-repeat: no-repeat;
	padding: 5px 30px 10px 15px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

span#smallerButton {
	background-image: url('images/skinnyButton.png');
	background-repeat: no-repeat;
	
}

table.eventDisplay  {
    padding-top: 50px; 
    text-align: left; 
	clear: both;
	width: 500px;
}

table.eventDisplay {
    font-size: 12pt; 
    font-weight: normal;
		
}

table.eventDisplay td {
    padding: 5px 5px 0px 0px;  
	vertical-align: top;
}

table#allOppTable {
	width: 100%;
}

table#allOppTable tr:hover {
	background-color: white;
	cursor: pointer;
}