 <div id="content">
      <div id="signIn">
          <form action="post" name="signInForm">
          <h2>Sign in</h2>
          <table>
              <tr><td><input type="text" name="existingEmail" size="20" /></td><td><input type="password" name="existingPw" size="16" /></td><td><input class="submitButton" type="submit" value="sign in" /></td></tr>
              <tr><td>email</td><td>password</td><td></td></tr>
          </table>
          
          </form>
      </div>
      <p id="intro">
          Welcome to giveTO, your one stop shop for volunteer opportunities in the University District.
      </p>
      <div id="giantButtons">
          <a href="http://www.google.com"><%= image_tag "bigButtons1.png", :alt => 'Find a volunteer opportunity' %></a>
          <a href="http://www.google.com"><img src="../images/bigButtons2.png" alt="Submit a Volunteer Opportunity" /></a>
      </div>
<!--                <div id="featured">
          
<!-\-                    <table id="featuredTable">
              <tr><td><h2>Featured Organization</h2></td><td></td></tr>
              <tr>
                  <td><img src="http://beetlebabee.files.wordpress.com/2010/03/girl_scouts.jpg" alt="girl scouts" height="200px" /></td>
                  <td>
                      <p><strong>Who</strong>: Campus Girls Scouts</p>
                      <p><strong>Recent Work</strong>: It is that time of the year, Cookie Sales!!! Buy your box today</p>
                      <p><strong>Fun Fact</strong>: Their three keys to leadership include Discover, Connect and Take Action. Now that's inspiring!</p>
                      <p><strong>Current Volunteer Opportunities</strong> They are always looking for help selling cookies in front of the University Bookstore.</p>
                  </td>
              </tr>
          </table>-\->
      </div>-->
      <div>
          <br /><br /><br />
          <img src="../images/worldBorder5.png" alt="world" />
      </div>
  </div>