</div> <!-- close content div -->
<div id="footer">
      <!--<img style="margin: 10px;" src="../images/worldBorder5.png" alt="world" />-->
	  <a href="/about">About</a> | <a href="http://ischool.uw.edu">UW Information School</a>
</div>
<!--<div id="footerCurve"></div>-->