<div id="headerContent">
	<div id="headerGuts">
		<a style="float:left;" href="/">
			<%= image_tag "giveTOlogoWhite.png", :id => 'logo', :alt => 'giveTo logo' %>
		</a>
	   <span id="menu">
			<span class="menu_button"><a href="/events/all">Events</a></span>
			<% if signed_in? %>
				<span class="menu_button"><%= link_to "Profile", current_user %></span>
				<span class="menu_button"><%=	link_to "Sign out", signout_path, :method => :delete %></span>
			<% else %>
				<span class="menu_button"><%= link_to "Sign in", signin_path %></span>
			<% end %>
		</span>
		<div class="clear"></div>
	</div>
</div>
<div id="content">
	<div id="contentGuts"><div>&nbsp;</div>