<div id="headerCurve"></div>
<div id="headerContent">
    <a href="giveTOHome.html"><!--<%= image_tag "logo.png", :alt => 'giveTo logo' %>--><img src="../images/logo.png" id="logo" alt="giveTO Logo" /></a>
    <span id="menu">
			<span id="menuNew">What's New</span>
			<span id="menuSched">Schedule</span>
			<span id="menuOrg">Orgnizations</span>
			<span id="menuAbout">About</span>
		</span>
</div>